.client_container{
    width: 1920px;
    background-color: #040221;
}
.client_wrap{
    width:1728px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 90px;
}
.client_heading{
    color: #fff;
    font-size: 60px;
    line-height: 108px;
    padding-bottom: 60px;
}
.client_text1{
    color:#fff;
    font-size: 30px;
    line-height: 55px;
    padding-bottom: 80px;
}
.client_review{
    display: flex; 
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    align-content:center; 
    width: 1728px;
    padding-bottom:70px;
    position: relative;
}
.profile{
    background-image: url("../Client/img/client.png");
    max-width: 809px;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: space-around;
}
.review{
    padding-bottom: 80px !important;
}
.c_icon{
    color: red;
    font-size: 40px;
}

.client_text{
    font-size: 30px;
    color: #fff;
    line-height: 55px;
    width: 841px;
}
.client_name{
    font-size: 30px;
    color: #fff;
    line-height: 44px;
    padding-top:40px;
}
.client_pos{
    font-size: 22px;
    color: #fff;
    line-height: 44px;
}
/* .profile div:nth-child(1){
    position: absolute;
    top: 5%;
    left: 10%;  
  }
  .profile div:nth-child(2){
    position: absolute;
    bottom: 59%;
    left: 42%;
  }
  .profile div:nth-child(3){
    position: absolute;
    bottom: 28%;
    right: 15%;    
  }
  .profile div:nth-child(4){
  position: absolute;
  top: 60%;
  right: 49%;   
  }
  .profile div:nth-child(5){
    position: absolute;
    bottom: 87%;
    right: 6%;    
  }
  .profile div:nth-child(6){
    position: absolute;
    bottom: 29%;
    left: 5%;   
  } */
.c_img1{
    width:300px;
    height:300px;
}
.c_img1:hover{
   transform: scale(1.05);
}
.c_img2{
    width:180px;
    height:180px;
}
.c_img2:hover{
    transform: scale(1.05);
 }
.c_img3{
    width:260px;
    height:260pxpx;
}
.c_img3:hover{
    transform: scale(1.05);
 }
.c_img4{
    width:96px;
    height:96px;
}
.c_img4:hover{
    transform: scale(1.05);
 }
.c_img5{
    width:166px;
    height:166px;
    
}
.c_img5:hover{
    transform: scale(1.05);
 }
.c_img6{
    width:187px;
    height:187px;
    
}
.c_img6:hover{
    transform: scale(1.05);
 }